extends admin_layout

block content
	h1 Audits
	a(href="/admin/audits/new" class="btn addnew") Create New Audit
	br
	input.filter(id="posts_filter", type="text", placeholder="filter...")

	ul.list.entity_list#audit_list
		each audit in audits
			li
				a(href=`/admin/audits/${audit._id}`) #{audit.company_name}
				ul.list.operations
					li
						span.delete.delbtn(data-postid=`${audit._id}`) Delete
					li
						a(href=`/admin/audits/${audit._id}`) Edit