extends ./layout.pug
block content

	.container 
		section#homepage
			.row
				.col-sm-4
					.website-summary
						img(src="/static/img/screenshot.jpg")
						p www.somewebsite.com
						h3 Your Score 34%
						h4 Competitors Average Score 81%
						a(href="") View more Details
							span.glyphicon.glyphicon-chevron-down
						ul.list
							li www.yeah.com 59%
							li www.hmmm.com 95%
							li www.othersite.com 89%
						h4 Search Engine Traffic
				.col-sm-8
					.mainsection
						h2 Attract
						table.auditTable
							tr
								td Does the website offer Thought Leadership information and/or commentary on current news?
								td.glyphicon.glyphicon-remove
							tr
								td Does the website provide Guides and/or Whitepapers on specific legal topics?
								td.glyphicon.glyphicon-ok
							tr
								td Does the website provide Case Study examples of the services provided?
								td.glyphicon.glyphicon-remove
							tr
								td Meta Title &amp; Description optimised for SRO?
								td.glyphicon.glyphicon-remove
						h2 Engage
						table.auditTable
							tr
								td Is the website design trustworthy, modern &amp; professional?
								td.glyphicon.glyphicon-ok
							tr
								td Simple &amp; intuitive menu system (UI)?
								td.glyphicon.glyphicon-remove
							tr
								td No key information (Services, Guides, News, Case Stuides, Contacts) deeper than 3 levels (UI)
								td.glyphicon.glyphicon-remove
							tr
								td Is that page-load speed less than 1 second (UX)
								td.glyphicon.glyphicon-remove
							tr
								td Is the website responsive across multiple devices (UX)
								td.glyphicon.glyphicon-remove
							tr
								td Is white-space used to ensure pages are not overcrowded with text making it hard to take in?
								td.glyphicon.glyphicon-ok
							tr
								td Is there an individual page for each service offered?
								td.glyphicon.glyphicon-remove
							tr
								td Does the Service page contain all necessary elements?
								td.glyphicon.glyphicon-remove
						h2 Convert
						table.auditTable
							tr
								td Does each solicitor have a Profile/Biography page?
								td.glyphicon.glyphicon-remove
							tr
								td Does the Profile include a photograph of the lawyer?
								td.glyphicon.glyphicon-remove
							tr
								td Does the Profile link to Thought Leadership content produced by the lawyer?
								td.glyphicon.glyphicon-remove
							tr
								td Are contact details for the lawyer readily available from the profile?
								td.glyphicon.glyphicon-remove
							tr
								td Are Accreditations displayed where appropriate?
								td.glyphicon.glyphicon-ok
							tr
								td Are Testimonials shown on Services pages?
								td.glyphicon.glyphicon-remove
							tr
								td Is Contact information accessible on all pages?
								td.glyphicon.glyphicon-remove
							tr
								td Are there specific CTA Contact forms on Service pages?
								td.glyphicon.glyphicon-remove


