h3 Trustworthy Design
.helpBox
	span.glyphicon.glyphicon-remove
	p This website does not have a trustworthy, modern &amp; professional design.
img(src="/static/img/pretz.jpg")
h4 Recommendations
p The old adage of “first impressions count” stands just as true online as it does off. Your website’s design has a large effect on how people perceive your organisation and brand and, ultimately, whether or not they stay on your website long enough to become a customer. 

p 94% of a user’s first impressions are design-related* and with less than a second** to make a first impression, you need to be sure that your website creates a positive &amp; lasting first impression with a design that reflects your professionalism. (*Source: @Veopix; **Taylor&amp;Francis)

hr