h3 Solicitor Photographs
.helpBox
	span.glyphicon.glyphicon-remove
	p This website does not include photographs of solicitors on their profile
//- img(src="/static/img/pretz.jpg")
h4 Recommendations
p Providing photos of your solicitors alongside their profiles grants further opportunities for potential clients &amp; referrals to get an honest feel for the people that work within your organisation.
hr