h3 Service Description
.helpBox
	span.glyphicon.glyphicon-remove
	p This website does not contain detailed information on each service offered
img(src="/static/img/pretz.jpg")
h4 Recommendations
p If you want your site to convert more leads to clients, website pages which outline your services require more than just a list of your practice areas. Take time to explain to potential clients what each service you offer provides &amp; who it can help.

hr