h3 Intuitive User Interface
.helpBox
	span.glyphicon.glyphicon-remove
	p This website does not have a simple &amp; intuitive menu system and user interface.
img(src="/static/img/pretz.jpg")
h4 Recommendations
p Visitors will only convert to clients if they can find what they are looking for quickly &amp; easily. Guide your visitors to the best solution to their legal issue with a simple and intuitive user interface.
hr