h3 Readability
.helpBox
	span.glyphicon.glyphicon-remove
	p This website does not provide information in an uncrowded and easy-to-read manner
img(src="/static/img/pretz.jpg")
h4 Recommendations
p If the text is too close together then people can't read it
hr