h3 Solicitor Contact Details
.helpBox
	span.glyphicon.glyphicon-remove
	p This website does not provide readily available contact details from a solicitor’s profile
img(src="/static/img/pretz.jpg")
h4 Recommendations
p 
hr