h3 Page Load Speed
.helpBox
	span.glyphicon.glyphicon-remove
	p This website does not load in less than 2 seconds.
img(src="/static/img/pretz.jpg")
h4 Recommendations
p Page load speed is another key User Experience factor differentiating successful and failing websites. A 2-second delay in load time resulted in abandonment rates of up to 87%. This is significantly higher than the baseline abandonment rate of 67%. Make sure your site is fast!
hr