h3 Responsive Website
.helpBox
	span.glyphicon.glyphicon-remove
	p This website does not respond to multiple device types &amp; sizes.
//- img(src="/static/img/pretz.jpg")
h4 Recommendations
p These days, consumers have countless devices and screen sizes with which to browse the web. 91% of users feel that Not only that, most users will start their journey on one device and finish on another. 
hr