h3 Company Contact Details
.helpBox
	span.glyphicon.glyphicon-remove
	p This website does not provide accessible contact information on all pages
img(src="/static/img/pretz.jpg")
h4 Recommendations
p When a visitor is ready to make contact, it needs to happen fast. They shouldn’t have to go hunting for your contact details.  
p The Contact Me feature places contact points at optimum points throughout your site, making contact hassle-free.

hr