h3 Solicitor Associated Content
.helpBox
	span.glyphicon.glyphicon-remove
	p This website does not 
//- img(src="/static/img/pretz.jpg")
h4 Recommendations
p Our solicitor profiles go beyond simple contact details; automatically linking testimonials &amp; articles with each solicitor so you can build personal reputations with clients even before a face-to-face meeting. 
hr