h3 Search Results Optimised
.helpBox
	span.glyphicon.glyphicon-remove
	p This website does not have a search engine optimised title and/or description.
//- img(src="/static/img/pretz.jpg")
h4 Recommendations
p Creating valuable content &amp; having it rank on the first page of search engines is only half of battle. It doesn’t matter if your content is ranked #1 or #10, if your entry in the search engine results does not grab the attention of searchers, then you will lose potential customers to your competitors.
 
p Optimising your meta titles &amp; descriptions doesn’t only lead to more clicks by users. Because Google’s aim is to make users happy, the more click-throughs you get the higher you’ll climb in the organic rankings

hr