h3 Service Page Call to Actions
.helpBox
	span.glyphicon.glyphicon-remove
	p This website does not prompt visitors to make contact with service page specific calls to action
//- img(src="/static/img/pretz.jpg")
h4 Recommendations
p Hopefully you’ve taken some time &amp; effort to carefully craft a Services page which 
hr