h3 Current Legal News
.helpBox
	span.glyphicon.glyphicon-remove
	p This website does not offer thought leadership information or commentary on current news.

//- img(src="/static/img/pretz.jpg")
h4 Recommendations
p The benefits of implementing a running section of news articles &amp; commentary relevant to your firm’s work are numerous. 

p News commentary on contemporary topics allows you to attract potential client – and keep them updated – on legal news as it happens. Rather than attempting to re-purpose your Group Litigation Services webpage to take advantage of, for example, the VW’s Emission Scandal publicity; simply post a news commentary containing a link back to your Group Litigation Services for those who may be in need.

p Google and other search engines, as well as potential clients, love fresh &amp; timely content; so crafting quick snippets of commentary on legal issues as they happen will greatly improve the overall search engine visibility of your site. 

p Lastly, it’s a great ice-breaker. A visitor inadvertently coming across your article about the increased penalties for speeding may not be in need of legal services immediately; but with 60% of consumers preferring to connect with businesses they are familiar with, attracting potential clients before they need you allows you to create pre-built personal connection should the need ever arise. 

hr