h3 Client Testimonials
.helpBox
	span.glyphicon.glyphicon-remove
	p This website does not provide visitors with testimonials on services pages
img(src="/static/img/pretz.jpg")
h4 Recommendations
p 78% of people say they trust online reviews just as much as recommendations from friends &amp; family (Source: @searchengineland). Let visitors know you get results by collecting and (tastefully) showing off the best things your previous clients have said about you

hr