h3 Solicitor Profile Pages
.helpBox
	span.glyphicon.glyphicon-remove
	p This website does not provide visitors with solicitor profiles/biographies
img(src="/static/img/pretz.jpg")
h4 Recommendations
p The importance of showcasing your solicitors with individual profile pages cannot be over emphasised. In a recent survey, UK law firms were analysed by keywords for which they ranked on the first page of search engine results. 

p On average, for all the keywords firms ranked page 1 for, 25% were exact matches for a solicitor’s name. Additionally, these searches account for a third of all search engine traffic to these firms’ websites. * 

p Not having individual profile pages could be preventing potential clients from finding you online. Ensure you are making the most of your most influential individuals through Solicitor Profiles.

p *(Source: SEMRush Data 2017)

hr