h3 Guides &amp; Whitepapers
.helpBox
	span.glyphicon.glyphicon-remove
	p This website does not provide informative guides or whitepapers on specific legal issues.

//- img(src="/static/img/pretz.jpg")
h4 Recommendations
p Today’s consumers are thirsty for knowledge and seek more and more information out online.

p Providing guides to potential clients allows your website to rank for "how to" &amp; "what to do if" type searches, whilst simultaneously demonstrating your expertise and generating email leads to be re-targeted with a follow-up sequence of emails with call to actions to contact your firm.

hr