h3 Case Studies
.helpBox
	span.glyphicon.glyphicon-remove
	p This website does not provide case-study examples of the services provided.
//- img(src="/static/img/pretz.jpg")
h4 Recommendations
p To understand why case-studies are so powerful, you have to consider how potential clients actually seek out legal services. They are likely to take to search engines such as Google. Once there, search terms will often include phrases describing scenarios and dilemmas, rather than specific legal services - think "will I lose my licence for speeding 53mph in a 30 zone", not "Motor Offence Solicitor". 

p Case studies provide digestible answers, rich with keyword friendly content that both Google &amp; potential clients will love.

hr