h3 Individual Service Pages
.helpBox
	span.glyphicon.glyphicon-remove
	p This website does not utilise dedicated pages for each service offered
//- img(src="/static/img/pretz.jpg")
h4 Recommendations
p A potential client with domestic violence issues has complex nuances that need to be addressed separate from another family matter, such as child custody. You will also want to provide each of these visitors with different guides, case studies &amp; solicitor contact details.

p Utilising dedicated pages for each service offered lets you speak directly to the problems and needs of individual visitors to your website.

hr